.app.dark {
  --bg-color: #1f1d2b;
  --inverted-bg-color: #808191;
  --primary-color: #4ec5f1;
  --secondary-color: #808191;
  --inverted-primary-color: #1f1d2b;
  --inverted-secondary-color: #353340;
}
