.app.light {
  --bg-color: #808191;
  --inverted-bg-color: #1f1d2b;

  --primary-color: #1f1d2b;
  --secondary-color: #353340;

  --inverted-primary-color: #4EC5F1;
  --inverted-secondary-color: #808191;
}