.navbar {
  display: flex;
  justify-content: end;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);

  .links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    margin-right: 15px;
    padding: 0;
  }
}
